body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
    background-color: white;
    color: #282c34;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: calc(10px + 1vmin);
}

.button:hover {
    background-color: #90949b;
}

header > .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    gap: 200px;
    background: #282c34;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    margin: 20px 0;
}

.navigation > a{
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    word-wrap: break-word;
}

.logo > a{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.account, .account > a {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}